<template>
  <div>
    <v-bottom-sheet v-model="openSettings">
      <v-sheet>
        <v-tabs>
          <v-tab> Контент </v-tab>
          <v-tab-item class="mt-4">
            <v-row class="justify-center">
              <v-col cols="4">
                <v-text-field
                  type="number"
                  v-model="newMoviesAmount"
                  label="Количество фильмов 1-20"
                  :rules="maxAmount"
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>
          </v-tab-item>
        </v-tabs>
        <div class="d-flex justify-sm-end pr-4 pl-4">
          <v-btn @click="updateBlock" class="mb-2">Сохранить</v-btn>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  name: 'MainConstructorBlockSettingsSheet',

  props: ['item', 'mode', 'settings', 'type'],

  data() {
    return {
      newMoviesAmount: null,
      maxAmount: [(amount) => (amount && amount <= 20) || 'Max amount is 20'],
    };
  },

  computed: {
    openSettings: {
      get() {
        return this.settings;
      },

      set() {
        this.$emit('openSettings');
      },
    },
  },

  methods: {
    updateBlock() {
      this.$store.dispatch('updateBlock', {
        type: this.type,
        id: this.item.id,
        moviesAmount: this.newMoviesAmount,
      });
    },
  },
};
</script>
