<template>
  <div style="position: relative" class="mb-8">
    <MainConstructorBlockSettings
      v-if="mode"
      :settingsIcon="true"
      @openSettings="settings = !settings"
      @deleteBlock="deleteBlock"
    />
    <MainConstructorTopMoviesSettingsSheet
      :settings="settings"
      :item="item"
      :type="item.type"
      @openSettings="settings = !settings"
    />
    <div class="d-flex movies-cards pt-8">
      <v-card
        v-for="movie in item.results.slice(0, item.newAmount)"
        width="320px"
        :key="movie.id"
        class="pt-2"
      >
        <div class="pl-2">
          <span>{{ movie.title }}</span> <br />
          <span class="movie-card-info">Популярность : {{ movie.popularity }}</span> <br />
          <span class="movie-card-info">Дата выхода : {{ movie.release_date }}</span>
        </div>
        <v-img :src="imagesUrl + movie.poster_path" />
        <p class="movie-card-overview pl-2 pr-2 m-0 pt-2">
          <span class="card-overviw-title">Описание: <br /></span>{{ movie.overview }}
        </p>
      </v-card>
    </div>
  </div>
</template>

<script>
import MainConstructorBlockSettings from '@/components/MainConstructorComponents/MainConstructorBlockSettings.vue';
import MainConstructorTopMoviesSettingsSheet from '@/components/MainConstructorComponents/MainConstructoTopMovies/MainConstructorTopMovieskSettingsSheet.vue';

export default {
  name: 'MainConstructorTopMoviesBlock',

  components: {
    MainConstructorBlockSettings,
    MainConstructorTopMoviesSettingsSheet,
  },

  props: ['mode', 'item'],

  data() {
    return {
      imagesUrl: 'https://image.tmdb.org/t/p/w500/',
      settings: false,
    };
  },

  methods: {
    deleteBlock() {
      this.$store.dispatch('deleteBlock', { id: this.item.id });
    },
  },
};
</script>

<style lang="scss" scoped>
.movies-cards {
  flex-wrap: wrap;
  gap: 16px;

  .movie-card-info {
    font-size: 12px;
  }
  .movie-card-overview {
    line-height: 1.5;
    font-size: 12px;

    .card-overviw-title {
      font-weight: 800;
      font-size: 14px;
    }
  }
}
</style>
