<template>
  <div class="block-settings">
    <v-icon v-show="settingsIcon" @click="$emit('openSettings')">mdi-cog</v-icon>
    <v-icon @click="$emit('deleteBlock')">mdi-delete</v-icon>
  </div>
</template>

<script>
export default {
  name: 'MainConstructorBlockSettings',

  props: ['settingsIcon'],

  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.block-settings {
  position: absolute;
  right: 0;
  top: 0;
}
</style>
