<template>
  <div class="text-center" width="100%">
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-bind="attrs" v-on="on" @click="addBlockSection = true">mdi-plus</v-icon>
      </template>
      Добавить блок
    </v-tooltip>
    <v-bottom-sheet v-model="addBlockSection">
      <v-sheet>
        <v-row class="justify-center align-center">
          <v-col cols="4">
            <v-select
              :items="blocks"
              v-model="selectedBlock"
              item-text="name"
              item-value="type"
            ></v-select>
          </v-col>
          <v-col cols="2">
            <v-btn @click="addBlock">Добавить блок</v-btn>
          </v-col>
        </v-row>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  name: 'MainConstructorSettings',

  props: {
    editMode: Boolean,
  },

  data() {
    return {
      addBlockSection: false,
      blocks: [
        { name: 'Простой блок', type: 'defaultBlock' },
        { name: 'Блок с карточками', type: 'cardsBlock' },
        { name: 'Популярные фильмы', type: 'topMoviesBlock' },
      ],
      selectedBlock: '',
    };
  },

  methods: {
    addBlock() {
      this.$store.dispatch('addBlock', { type: this.selectedBlock });
      this.addBlockSection = false;
    },
  },
};
</script>
