<template>
  <draggable v-model="currentSiteBlocks" v-if="currentSiteBlocks">
    <div v-for="item in currentSiteBlocks" :key="item.id">
      <MainConstructorTextBlock v-if="item.type === 'defaultBlock'" :item="item" :mode="mode" />
      <MainConstructorCardsBlock v-if="item.type === 'cardsBlock'" :item="item" :mode="mode" />
      <MainConstructorTopMoviesBlock
        v-if="item.type === 'topMoviesBlock'"
        :item="item"
        :mode="mode"
      />
    </div>
  </draggable>
</template>

<script>
import draggable from 'vuedraggable';
import MainConstructorTextBlock from '@/components/MainConstructorComponents/MainConstructorTextBlock/MainConstructorTextBlock.vue';
import MainConstructorCardsBlock from '@/components/MainConstructorComponents/MainConstructorCard/MainConstructorCardsBlock.vue';
import MainConstructorTopMoviesBlock from '@/components/MainConstructorComponents/MainConstructoTopMovies/MainConstructorTopMoviesBlock.vue';

export default {
  name: 'MainConstructorCurrentSite',

  components: {
    draggable,
    MainConstructorTextBlock,
    MainConstructorCardsBlock,
    MainConstructorTopMoviesBlock,
  },

  props: ['mode'],

  data() {
    return {};
  },

  computed: {
    currentSiteBlocks: {
      get() {
        return this.$store.state.currentSite;
      },
      set(value) {
        this.$store.commit('updateCurrentSite', value);
      },
    },
  },
};
</script>
