<template>
  <MainConstructor />
</template>

<script>
import MainConstructor from '@/components/MainConstructor.vue';

export default {
  name: 'HomePage',

  components: {
    MainConstructor,
  },
};
</script>
