<template>
  <div>
    <div class="text-block pb-12">
      <MainConstructorBlockSettings
        v-if="mode"
        :settingsIcon="true"
        @openSettings="settings = !settings"
        @deleteBlock="deleteBlock"
      />
      <span
        class="text-block-header"
        :class="{
          'header-version1': newHeaderStyleType === 'headerVersion1',
          'header-version2': newHeaderStyleType === 'headerVersion2',
        }"
        >{{ newHeaderText }}</span
      >
      <span
        class="text-block-description"
        :class="{
          'description-version1': newDescriptionStyleType === 'descriptionVersion1',
          'description-version2': newDescriptionStyleType === 'descriptionVersion2',
        }"
        >{{ newDescription }}</span
      >
      <MainConstructorTextBlockSettingsSheet
        :settings="settings"
        :item="item"
        :type="item.type"
        @openSettings="settings = !settings"
      />
    </div>
  </div>
</template>

<script>
import MainConstructorBlockSettings from '@/components/MainConstructorComponents/MainConstructorBlockSettings.vue';
import MainConstructorTextBlockSettingsSheet from '@/components/MainConstructorComponents/MainConstructorTextBlock/MainConstructorTextBlockSettingsSheet.vue';

export default {
  name: 'MainConstructorTextBlock',

  components: {
    MainConstructorBlockSettings,
    MainConstructorTextBlockSettingsSheet,
  },

  props: ['item', 'mode'],

  data() {
    return {
      settings: false,
      headerStyleTypes: ['default', 'headerVersion1', 'headerVersion2'],
      descriptionStyleTypes: ['default', 'descriptionVersion1', 'descriptionVersion2'],
    };
  },

  computed: {
    newHeaderText() {
      return this.item.content.header.text;
    },

    newHeaderStyleType() {
      return this.item.content.header.styleType;
    },

    newDescription() {
      return this.item.content.description.text;
    },

    newDescriptionStyleType() {
      return this.item.content.description.styleType;
    },
  },

  methods: {
    deleteBlock() {
      this.$store.dispatch('deleteBlock', { id: this.item.id });
    },
  },
};
</script>

<style lang="scss" scoped>
.text-block {
  position: relative;
  display: flex;
  flex-direction: column;
}
</style>
