<template>
  <div>
    <MainConstructorCurrentSite :mode="editMode" class="pl-4 pr-4 pb-4" />
    <MainConstructorSettings v-if="editMode" />
    <v-switch
      v-model="editMode"
      class="constructor-switch-mode"
      :label="editMode ? 'Режим редактирования' : 'Режим просмотра'"
    ></v-switch>
  </div>
</template>

<script>
import MainConstructorSettings from './MainConstructorComponents/MainConstructorSettings.vue';
import MainConstructorCurrentSite from './MainConstructorComponents/MainConstructorCurrentSite.vue';

export default {
  name: 'MainConstructor',

  components: {
    MainConstructorSettings,
    MainConstructorCurrentSite,
  },

  data() {
    return {
      editMode: true,
    };
  },

  methods: {
    changeMode() {
      this.editMode = !this.editMode;
    },
  },
};
</script>

<style lang="scss" scoped>
.constructor-switch-mode {
  position: absolute;
  left: 10px;
  bottom: 0;
}
</style>
