<template>
  <div class="mb-8">
    <v-card class="d-flex flex-column cards-block-card pa-4" width="256">
      <MainConstructorBlockSettings
        v-if="mode"
        :settingsIcon="true"
        @openSettings="settings = !settings"
        @deleteBlock="deleteCard"
      />
      <span
        :class="{
          'header-version1': newHeaderStyleType === 'headerVersion1',
          'header-version2': newHeaderStyleType === 'headerVersion2',
        }"
        >{{ newHeaderText }}</span
      >
      <span
        :class="{
          'description-version1': newDescriptionStyleType === 'descriptionVersion1',
          'description-version2': newDescriptionStyleType === 'descriptionVersion2',
        }"
        >{{ newDescription }}</span
      >
      <v-icon>{{ newIcon }}</v-icon>
    </v-card>
    <MainConstructorCardSettingsSheet
      :settings="settings"
      :item="mutatedCard"
      :index="index"
      :type="type"
      @openSettings="settings = !settings"
    />
  </div>
</template>

<script>
import MainConstructorBlockSettings from '@/components/MainConstructorComponents/MainConstructorBlockSettings.vue';
import MainConstructorCardSettingsSheet from '@/components/MainConstructorComponents/MainConstructorCard/MainConstructorCardSettingsSheet.vue';

export default {
  name: 'MainConstructorCardsBlockCard',

  components: {
    MainConstructorBlockSettings,
    MainConstructorCardSettingsSheet,
  },

  props: ['card', 'mode', 'index', 'type', 'item'],

  data() {
    return {
      mutatedCard: this.card,
      settings: false,
    };
  },

  computed: {
    newHeaderText() {
      return this.card.content.header.text;
    },

    newHeaderStyleType() {
      return this.card.content.header.styleType;
    },

    newDescription() {
      return this.card.content.description.text;
    },

    newDescriptionStyleType() {
      return this.card.content.description.styleType;
    },

    newIcon() {
      return this.card.icon;
    },
  },

  methods: {
    deleteCard() {
      this.$store.dispatch('deleteCard', {
        id: this.item.id,
        index: this.index,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.cards-block-card {
  gap: 16px;
}
</style>
