<template>
  <v-item-group v-if="item" class="pt-6">
    <v-container>
      <MainConstructorBlockSettings v-if="mode" :settingsIcon="false" @deleteBlock="deleteBlock" />
      <v-row class="align-center cards-block justify-center">
        <div v-for="(card, index) in item.cards" :key="index">
          <MainConstructorCardsBlockCard
            :card="card"
            :mode="mode"
            :index="index"
            :type="item.type"
            :item="item"
          />
        </div>
        <div class="cards-block-plus text-center" v-if="mode">
          <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
              <v-icon v-bind="attrs" v-on="on" @click="addCard">mdi-plus</v-icon>
            </template>
            Добавить карточку
          </v-tooltip>
        </div>
      </v-row>
    </v-container>
  </v-item-group>
</template>

<script>
import MainConstructorBlockSettings from '@/components/MainConstructorComponents/MainConstructorBlockSettings.vue';
import MainConstructorCardsBlockCard from '@/components/MainConstructorComponents/MainConstructorCard/MainConstructorCardsBlockCard.vue';

export default {
  name: 'MainConstructorCardsBlock',
  components: {
    MainConstructorCardsBlockCard,
    MainConstructorBlockSettings,
  },

  props: ['item', 'mode'],

  data() {
    return {};
  },

  methods: {
    addCard() {
      this.$store.dispatch('addCard', { id: this.item.id });
    },

    deleteBlock() {
      this.$store.dispatch('deleteBlock', { id: this.item.id });
    },
  },
};
</script>

<style lang="scss" scoped>
.cards-block {
  gap: 16px;

  .cards-block-plus {
    width: 256px;
  }
}
</style>
