<template>
  <div>
    <v-bottom-sheet v-model="openSettings">
      <v-sheet>
        <v-tabs>
          <v-tab> Контент </v-tab>
          <v-tab> Стили </v-tab>
          <v-tab-item class="mt-4">
            <v-row class="justify-center">
              <v-col cols="4">
                <v-text-field
                  v-model="newHeaderText"
                  :value="item.content.headerText"
                  label="Заголовок"
                  outlined
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-textarea
                  rows="1"
                  v-model="newDescription"
                  :value="item.content.description"
                  label="Описание"
                  outlined
                ></v-textarea>
              </v-col>
              <v-col cols="4">
                <v-select
                  rows="1"
                  v-model="newIcon"
                  :items="icons"
                  :value="item.icon"
                  label="Иконка"
                  outlined
                ></v-select>
              </v-col>
            </v-row>
          </v-tab-item>
          <v-tab-item class="mt-4">
            <v-row class="justify-center">
              <v-col cols="4">
                <v-select
                  v-model="newHeaderStyleType"
                  label="Стиль заголовка"
                  outlined
                  :items="headerStyleTypes"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="newDescriptionStyleType"
                  label="Стиль описания"
                  outlined
                  :items="descriptionStyleTypes"
                ></v-select>
              </v-col>
            </v-row>
          </v-tab-item>
        </v-tabs>
        <div class="d-flex justify-sm-end pr-4 pl-4">
          <v-btn @click="updateBlock" class="mb-2">Сохранить</v-btn>
        </div>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  name: 'MainConstructorBlockSettingsSheet',

  props: ['item', 'mode', 'settings', 'index', 'type'],

  data() {
    return {
      newHeaderText: this.item.content.header.text,
      newHeaderStyleType: this.item.content.header.styleType,
      headerStyleTypes: ['default', 'headerVersion1', 'headerVersion2'],

      newDescription: this.item.content.description.text,
      newDescriptionStyleType: this.item.content.description.styleType,
      descriptionStyleTypes: ['default', 'descriptionVersion1', 'descriptionVersion2'],

      icons: ['mdi-cog', 'mdi-arrow-up-bold', 'mdi-trash-can'],
      newIcon: this.item.icon,
    };
  },

  computed: {
    openSettings: {
      get() {
        return this.settings;
      },

      set() {
        this.$emit('openSettings');
      },
    },
  },

  methods: {
    updateBlock() {
      this.$store.dispatch('updateBlock', {
        type: this.type,
        headerText: this.newHeaderText,
        headerStyleType: this.newHeaderStyleType,
        description: this.newDescription,
        descriptionStyleType: this.newDescriptionStyleType,
        id: this.item.id,
        index: this.index,
        icon: this.newIcon,
      });
    },
  },
};
</script>

<style lang="scss">
.text-block-header {
  font-size: 2.5em;
}

.header-version1 {
  line-height: 1.5;
  letter-spacing: 10px;
}
.header-version2 {
  font-style: italic;
}

.description-version1 {
  line-height: 1.5;
  letter-spacing: 10px;
  font-size: 18px;
}

.description-version2 {
  font-size: 18px;
  font-style: italic;
}
</style>
